<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>(</string>
	<key>endCommand</key>
	<string> </string>
	<key>beginInstruction</key>
	<string>&apos;(</string>
	<key>endInstruction</key>
	<string>)</string>
	<key>beginVariable</key>
	<string>:</string>
	<key>endVariable</key>
	<string> </string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>;</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>(commnet</string>
	<key>endFirstMultiLineComment</key>
	<string>)</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>fn</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abs</string>
		<string>and</string>
		<string>append</string>
		<string>apply</string>
		<string>assoc-if</string>
		<string>assoc-if-not</string>
		<string>bit</string>
		<string>bit-and</string>
		<string>bit-eqv</string>
		<string>bit-ior</string>
		<string>bit-nand</string>
		<string>bit-nor</string>
		<string>bit-not</string>
		<string>bit-vector</string>
		<string>bit-vector-p</string>
		<string>bit-xor</string>
		<string>block</string>
		<string>boolean</string>
		<string>catch</string>
		<string>class</string>
		<string>class-name</string>
		<string>class-of</string>
		<string>close</string>
		<string>compile</string>
		<string>compile-file</string>
		<string>cond</string>
		<string>cons</string>
		<string>copy-list</string>
		<string>copy-readtable</string>
		<string>copy-seq</string>
		<string>copy-structure</string>
		<string>copy-symbol</string>
		<string>count</string>
		<string>declare</string>
		<string>defclass</string>
		<string>defconstant</string>
		<string>defmacro</string>
		<string>defn</string>
		<string>do*</string>
		<string>do</string>
		<string>dotimes</string>
		<string>error</string>
		<string>eval</string>
		<string>eval-when</string>
		<string>first</string>
		<string>format</string>
		<string>gensym</string>
		<string>gethash</string>
		<string>get</string>
		<string>hash-table</string>
		<string>if</string>
		<string>if-exists</string>
		<string>fn</string>
		<string>last</string>
		<string>let*</string>
		<string>let</string>
		<string>list*</string>
		<string>list</string>
		<string>load</string>
		<string>loop</string>
		<string>map</string>
		<string>max</string>
		<string>min</string>
		<string>mod</string>
		<string>nil</string>
		<string>not</string>
		<string>nth</string>
		<string>null</string>
		<string>open</string>
		<string>or</string>
		<string>print</string>
		<string>quote</string>
		<string>random</string>
		<string>read</string>
		<string>read-eval-print</string>
		<string>read-from-string</string>
		<string>read-line</string>
		<string>read-preserving-whitespace</string>
		<string>read-sequence</string>
		<string>reduce</string>
		<string>rem</string>
		<string>reverse</string>
		<string>round</string>
		<string>second</string>
		<string>sequence</string>
		<string>sort</string>
		<string>string</string>
		<string>type</string>
		<string>vector</string>
		<string>when</string>
		<string>write</string>
		<string>write-line</string>
		<string>write-to-string</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
