<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Risp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RispDotOperationCodeGen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RispKeyboardBinding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RispReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RispRenderFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>300CB30A18FE436000ABC71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>300CB31A18FE436000ABC71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304E04051907822200E2D438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306B7EFB193620E300B0B17A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306B7F0B193620E300B0B17A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30805EB318FEA20800D51EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30805EC318FEA20800D51EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30970F0518FCE2830091F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30970F1C18FCE2830091F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30970F8518FCF5000091F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30970F9F18FCF5010091F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F15285193629AB002AD337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F15295193629AB002AD337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
